<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settings.activityEnabled</key>
	<false/>
	<key>settings.activityRingsInNotch</key>
	<false/>
	<key>settings.activityTabEnabled</key>
	<false/>
	<key>settings.aiUsage.agentActivity</key>
	<false/>
	<key>settings.aiUsage.agentApprovals</key>
	<false/>
	<key>settings.aiUsage.agentDefaultsRevision</key>
	<integer>1</integer>
	<key>settings.aiUsage.agentTurnCost</key>
	<false/>
	<key>settings.aiUsage.defaultRevision</key>
	<integer>2</integer>
	<key>settings.appNotificationsEnabled</key>
	<true/>
	<key>settings.audioReactiveVisualizer</key>
	<false/>
	<key>settings.audioReactiveVisualizer.defaultRevision</key>
	<integer>1</integer>
	<key>settings.calendarEnabled</key>
	<false/>
	<key>settings.callIslandsEnabled</key>
	<true/>
	<key>settings.cameraGuardEnabled</key>
	<true/>
	<key>settings.clipboardHotkey.defaultRevision</key>
	<integer>2</integer>
	<key>settings.displayPillDesigns</key>
	<string></string>
	<key>settings.downloadsIsland</key>
	<true/>
	<key>settings.faceUnlockLearnsAppearance</key>
	<false/>
	<key>settings.hasLaunchedBefore</key>
	<true/>
	<key>settings.helloIntro</key>
	<true/>
	<key>settings.hoverOpenDelay.instantMigrated</key>
	<true/>
	<key>settings.knockEnabled</key>
	<true/>
	<key>settings.launchAtLogin</key>
	<true/>
	<key>settings.launcherWheelEnabled</key>
	<true/>
	<key>settings.lockScreen.defaultsRevision</key>
	<integer>1</integer>
	<key>settings.lockScreenWidgetsEnabled</key>
	<true/>
	<key>settings.lyricsOnPill</key>
	<false/>
	<key>settings.messageIslandsEnabled</key>
	<true/>
	<key>settings.motion.customMigrationRevision</key>
	<integer>1</integer>
	<key>settings.motion.defaultsRevision</key>
	<integer>1</integer>
	<key>settings.notificationDelivery</key>
	<string>after</string>
	<key>settings.nowPlayingPeekOnHover</key>
	<true/>
	<key>settings.panelDefaultFitted</key>
	<true/>
	<key>settings.panelHeight</key>
	<real>250.0</real>
	<key>settings.panelWidth</key>
	<real>820.0</real>
	<key>settings.petEnabled</key>
	<false/>
	<key>settings.pillDesign</key>
	<string>notch</string>
	<key>settings.pointerClickRipple</key>
	<true/>
	<key>settings.pointerHalo</key>
	<false/>
	<key>settings.pointerSpotlight</key>
	<true/>
	<key>settings.screenshotIsland</key>
	<false/>
	<key>settings.settingsGuideCompleted</key>
	<true/>
	<key>settings.tab.aiUsage</key>
	<false/>
	<key>settings.tab.calendar</key>
	<false/>
	<key>settings.tab.cuely</key>
	<false/>
	<key>settings.tab.emoji</key>
	<false/>
	<key>settings.tab.files</key>
	<false/>
	<key>settings.tab.focus</key>
	<false/>
	<key>settings.tab.homeKit</key>
	<false/>
	<key>settings.tab.launcher</key>
	<false/>
	<key>settings.tab.mirror</key>
	<false/>
	<key>settings.tab.notes</key>
	<false/>
	<key>settings.tab.reminders</key>
	<false/>
	<key>settings.tab.search</key>
	<false/>
	<key>settings.tab.shortcuts</key>
	<false/>
	<key>settings.tab.stocks</key>
	<false/>
	<key>settings.tab.terminal</key>
	<false/>
	<key>settings.tab.todo</key>
	<false/>
	<key>settings.tab.translate</key>
	<false/>
	<key>settings.tourCompleted</key>
	<true/>
	<key>settings.windowSnapEnabled</key>
	<false/>
</dict>
</plist>
